/* wire-framing */
div:not(.wrapper):not(.showcase) {
	border: 1px solid black;
}

/* defaults */
table, th, td {
	border: 1px solid black;
}

.showcase {
	position: relative;
	overflow: hidden;
	margin-bottom: 2rem;
	outline: 2px solid blue;
}

/* the rules */
.code-snippet-css {
	background: #f5eccb;	
}

/* hamburger menu */
.div2 {
	height: 20rem;
}
.ham-toggle {
	position: absolute;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
	margin: 0;
}
.ham-menu {
	position: absolute;
	width: 50rem;
	left: -100%;
	background: #cbf5e5;
	transition: left 0.3s ease;
}
.ham-toggle:checked ~ .ham-menu {
	left: 0;
}

/* hamburger menu */
.div3 {
	height: 30rem;
}
.blog-post {
	padding: 1rem;
}
.date-time {
	color: #555;
}
