/*
	### SETUP
*/

/* wire-framing */
div:not(.wrapper):not(.showcase) {
	border: 1px solid black;
}

/* defaults */
html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}
table, th, td {
	border: 1px solid black;
}
a {
	text-decoration: none;
}

/* global */
body {
	font-family: "Montserrat", sans-serif;
}

/*
	### CONTENT
*/

.showcase {
	/* so that other elements can be positioned relative to it */
	position: relative;
	/* so that there is no spillover */
	overflow: hidden;
	/* giving space between them */
	margin-bottom: 2rem;
	/* making it look a little nicer */
	padding: 1rem;
	/* so I can see where they are */
	outline: 2px solid blue;
}

/* the rules */
.code-snippet-css {
	background: #f5eccb;	
}
.rules-colorscheme {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	background: #f4f4f4;
}
.rules-color {
	display: flex;
	width: 100%;
	height: 8rem;
	color: rgba(0, 0, 0, 0.5);
	font-size: 2rem;
	justify-content: center;
	align-items: center;
	border: none !important;
}
.rules-color0 {
	border: 2px solid rgba(0, 0, 0, 0.5) !important;
}
.rules-color1 {
	background: #b7d8d6;
}
.rules-color2 {
	background: #789e9e;
}
.rules-color3 {
	background: #4d6466;
}
.rules-color4 {
	background: #eef3d8;
}
.rules-color5 {
	background: #fe615a;
}

/* div2: hamburger menu */
.div2 {
	height: 20rem;
}
.ham-wrapper {
	height: 100%;
}
.ham-toggle {
	position: absolute;
	width: 40px;
	height: 40px;
	margin: 0.3rem;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
}
.div2 svg {
	z-index: 1;
	margin: 0.3rem;
}
.ham-sidebar {
	position: absolute;
	width: 20rem;
	height: 100%;
	left: -100%;
	background: #cbf5e5;
	transition: left 0.3s ease;
}
.ham-sidebar a {
	padding: 1rem 0;
	font-size: 1.2rem;
	text-decoration: none;
	list-style-type: none;
	color: #232323;
	transition: color 0.3s ease;
}
.ham-sidebar a:hover {
	color: #4f7794;
}
.ham-content {
	height: 100%;
	padding: 1rem;
	background: #ededed;
}
.ham-toggle:checked ~ .ham-sidebar {
	left: 0;
}

/* div3: blog post */
.div3 {
	height: 30rem;
}
.blog-post {
	padding: 1rem;
}
.date-time {
	color: #555;
}

/* div4: positioning */
.pos-parent {
	padding: 1rem;
	background: #54b;
	font-size: 2rem;
	color: white;
}
.pos-child {
	padding: 1rem;
	background: #b24;
	font-size: 2rem;
}
.div4 div:first-child {
	position: relative;
	top: 3rem;
}

/* Nav Bar */
.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 5%;
	background: #242729;
}
.div5 img {
	border-radius: 50%;
	object-fit: cover;
	height: 4rem;
	width: 4rem;
	box-shadow: 0 0 2pt 1pt black;
	display: inline-block;
	vertical-align: middle;
}
.contact {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1rem;
}
.contact p {
	color: rgba(255, 255, 255, 0.9);
}
.contact-name {
	font-size: 1.4vw;
	margin: 0.3vw;
}
.contact-email, .contact-phone {
	font-size: 1.2vw;
	margin: 0.2vw;
}
.div5 a, .div5 button {
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.9);
}
.div5 ul {
	padding: 0;
}
.div5 li {
	list-style: none;
	display: inline-block;
	padding: 0 0.8rem;
}
.div5 li a {
	/* so that after can be positioned relative to it */
	position: relative;
	transition: all 0.3s ease;
}
.div5 li a:hover {
	color: #2496ed;
}
.div5 li a::after {
	content: "";
	position: absolute;
	bottom: -0.1rem;
	left: 0;
	right: 0;
	height: 0.1rem;
	background: #2496ed;
	transform: scaleX(0);
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.div5 li a:hover::after {
	transform: scaleX(1);
}
.div5 button {
	background: #242729;
	transition: all 0.3s ease;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 2px;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.div5 button:hover {
	color: #2496ed;
	border: 1px solid #2496ed;
}
